{% extends 'catalog/base.html' %}
{% block content %}

    <style>
    .card {
        background-color: #222022;
    }
    form {
        color: white;
    }
    form input[type="text"],
    form textarea {
        width: 100%;
    }
    </style>

    <div class="container">
        <div class="row text-center">
            <div class="col-3"></div>
                <div class="card mb-4 box-shadow">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a type="button" class="btn btn-primary" href="{% url 'users:reset_password' %}">Создать новый пароль</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Назад</a>
                    </form>
                </div>
        </div>
    </div>

{% endblock %}