{% extends 'catalog/base.html' %}
{% block content %}
{% load catalog_tags %}

<div class="container">
    <div class="row text-center">
        <div class="col-xxl-50">
            <div class="card mb-4 box-shadow">
                <div class="card-header d-flex align-items-center justify-content-center" style="height: 100px">
                  <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ object.preview|mediapath }}" alt="Превью картинки" style="max-width: 100%; width: 600px; height: 600px">
                    <h1 class="card-title pricing-card-title">{{ object.price }} денег</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <p class="text-center">{{ object.description }}</p>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    {% if user.is_authenticated %}
                        {% if perms.catalog.product_update %}
                            <a href="{% url 'catalog:product_update' pk=object.pk %}" class="btn btn-primary">Редактировать</a>
                        {% endif %}
                        {% if perms.catalog.product_delete %}
                            <a href="{% url 'catalog:product_delete' pk=object.pk %}" class="btn btn-primary">Удалить</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}