{% extends 'catalog/base.html' %}
{% block content %}
{% load catalog_tags %}

<div class="container">
    <div class="row text-center">
    {% if user.is_authenticated %}
        <a href="/product/create/" class="btn btn-lg btn-block btn-outline-primary">Добавить новый продукт</a>
    {% endif %}
        {% for el in object_list %}
            <div class="col-3 mt-4">
                <a href="/product/{{ el.id }}" style="text-decoration: none; color: black">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header d-flex align-items-center justify-content-center" style="height: 100px">
                          <h4 class="my-0 font-weight-normal">{{ el.name }}</h4>
                        </div>
                        <div class="card-body">
                            <img src="{{ el.preview|mediapath }}" alt="Превью картинки" style="max-width: 100%;">
                            <h1 class="card-title pricing-card-title">{{ el.price }} денег</h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <p>{{ el.description|slice:":50" }}...</p>
                            </ul>
                            {% for version in active_versions %}
                                    {% if version.product == el %}
                                        <p>{{ version.version_name}}</p>
                                    {% endif %}
                            {% endfor %}
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}